---
// Layout.astro
import '../styles/global.css';
const { title = "Gehringer Conseil", description = "Manager de transition - Gehringer Conseil" } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
	<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  </head>
  <body class="antialiased text-gray-900 bg-white">
    <slot name="header" />
    <main class="max-w-4xl mx-auto px-4 py-8">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>